{% load i18n %}
{% load static %}
<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>{% block title %}{% endblock %}</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8; ru" />
  <meta name="Description" content="{% block description %}{% endblock %}"/>
  <meta name="Keywords" content="{% block keywords %}{% endblock %}"/>  
  
  <link rel="shortcut icon" href="{% get_static_prefix %}img/favicon.png" />
  
  <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/bootstrap-theme.min.css" />  
  <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/base.css" />
  
  {% block extra_head %}{% endblock %}
</head>
<body>
  {% block body %}{% endblock %}
	
  <script type="text/javascript" src="{% get_static_prefix %}js/jquery.js"></script>
  <script type="text/javascript" src="{% get_static_prefix %}js/bootstrap.min.js"></script>  
  <script type="text/javascript" src="{% get_static_prefix %}js/base.js"></script>
  {% block extra_foot %}{% endblock %}
  
<!-- Yandex.Metrika informer -->
<a href="https://metrika.yandex.ru/stat/?id=29284050&amp;from=informer"
target="_blank" rel="nofollow"><img src="//bs.yandex.ru/informer/29284050/3_1_FFFFFFFF_EFEFEFFF_0_pageviews"
style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" onclick="try{Ya.Metrika.informer({i:this,id:29284050,lang:'ru'});return false}catch(e){}"/></a>
<!-- /Yandex.Metrika informer -->

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter29284050 = new Ya.Metrika({id:29284050,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/29284050" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->  
</body>
</html>
