{% extends "mobile/base.html" %}
{% block title %}{{bk.en_title}} ({{bk.ru_title}}) {{bk.author}} {% endblock %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="/static/css/tip-yellow/tip-yellow.css" />
{% endblock %}

{% block body %}
  <div style="margin-top: 10px; padding: 10px;   color: #393939;
  font-family: Verdana,sans-serif;
  font-size: 14pt;
  line-height: 1.7em;
  text-align: justify;
">
	<table class="width100">
		<tr>
			<td><a class="width100 btn btn-warning" href="/">Главная</a></td>
			{% if page != 0 %}
			<td><a class="width100 btn btn-info" href="{% url 'book' bk.uid %}?p=0">Начало</a></td>
			{% endif %}
			<td>{% if prev_page %}<a class="btn btn-warning" href="{% url 'book' bk.uid prev_page %}">Назад</a>{% endif %}</td>
			{% if next_page %}
			<td class="width100"><a class="width100 btn btn-primary" href="{% url 'book' bk.uid next_page %}">Далее</a></td>
			{% endif %}
		</tr>
	</table>	
	<div id="book" class="width100">Загрузка содержимого книги...</div>
	<div class="next_page dn width100">
	{% if next_page %}
		
		{% if page = 0 %}
			<a class="mt10 width100 btn btn-info" href="{% url 'book' bk.uid next_page %}">Далее</a>
		{% else %}
		<table class="width100">
			<tr>
				<td><a class="mt10 btn btn-warning" href="{% url 'book' bk.uid prev_page %}">Назад</a></td>
				<td class="width100"><a class="mt10 width100 btn btn-info" href="{% url 'book' bk.uid next_page %}">Далее</a></td>
			</tr>
		</table>
		{% endif %}
	
	{% else %}
		<table class="width100">
			<tr>
				<td>{% if prev_page %}<a class="mt10 btn btn-warning" href="{% url 'book' bk.uid prev_page %}">Назад</a>{% endif %}</td>
				<td class="width100"><a class="mt10 width100 btn btn-primary" href="{% url 'book' bk.uid %}?p=1">В начало</a></td>
			</tr>
		</table>		
	{% endif %}
	</div>
</div>
<div id="translation" class="dn"></div>
{% endblock %}

{% block extra_foot %}
<script type="text/javascript" src="/static/js/jquery.poshytip.min.js"></script>
<script>
var HAVE_TRANSLATION = false
$(function(){
	$.get("{{url}}",function(data){
		$("#book").html(data)
		$(".next_page").show()
		
		$.get("{{translation_url}}",function(data){
			$("#translation").html(data)
			HAVE_TRANSLATION = true
		})
	})

	$("x").live('click',function(){
		var _e = $(this)
		$("x").css("color","black")
		_e.css("color","red")		
		$("x").poshytip("hide")
		
		if(HAVE_TRANSLATION){
			var data = $("trans[word=\'"+_e.text().toLowerCase()+"\']").html()
			if(data==null){
				$.get("/translate/",{t:$(this).text()},function(data){
					_e.poshytip({
						content: data,
						showOn: 'none',
						alignTo: 'target',
						alignX: 'inner-left'
					}).poshytip("show").poshytip('hideDelayed',10000)			
				})	
			}else{
				_e.poshytip({
					content: data,
					showOn: 'none',
					alignTo: 'target',
					alignX: 'inner-left'
				}).poshytip("show").poshytip('hideDelayed',10000)		
				$.get("/translate/",{t:$(this).text(),ht:1})
			}
		}else{
			$.get("/translate/",{t:$(this).text()},function(data){
				_e.poshytip({
					content: data,
					showOn: 'none',
					alignTo: 'target',
					alignX: 'inner-left'
				}).poshytip("show").poshytip('hideDelayed',10000)			
			})	
		}
	})

	$("body").click(function(){
		$("x").poshytip("hide")
	})
})
</script>
{% endblock %}
