{% extends "mobile/base.html" %}
{% block title %}Чтение книг на английском языке{% endblock %}
{% block body %}
	<div class="width100 panel panel-default">
		<div class="panel-heading">
			{% if request.user.is_anonymous %}
				Гость				
			{% else %}
				<strong><a href="{% url 'books_user' request.user.username %}">{{request.user.username|default:"Гость"}}</a></strong>
			{% endif %}				
		</div>

		<ul class="list-group">	
		{% if user.is_anonymous %}	
			<li class="list-group-item"><a href="{% url 'login' %}">Вход</a></li>
		{% else %}
			<li class="list-group-item"><a href="{% url 'upload' %}">Загрузить книгу fb2</a></li>
			<li class="list-group-item"><a href="{% url 'login' %}">Выход</a></li>
		{% endif %}
		</ul>
	</div>
	
	{% if user.is_authenticated %}
	<ul class="list-group">
		<li class="list-group-item">Cловарный запас: <b>{{words_count}}</b> На повторении: <b>{{learn_count}}</b></li>			
	</ul>
	{% endif %}
	<div>
		<a class="btn btn-info width100" href="{% url 'learn' %}">Изучение слов</a>
	</div>
	
	{% if user.is_authenticated %}
	<div class="width100 mt10 panel panel-default">
		<div class="panel-heading"><strong>Закладки</strong></div>	
		<ul class="list-group">	
			{% for d in bookmarks %}
				<li class="list-group-item">
					<a href="{% url 'remove_bookmark' d.id %}" class="badge">x</a>
					<a href="{% url 'book' d.book.uid %}">{{d.book.en_title}}</a>
				</li>
			{% endfor %}
		</ul>
	</div>
	{% endif %}
	
	<div class="width100 mt10 panel panel-default">
		<div class="panel-heading"><strong>Новые книги</strong></div>	
			{% for d in bs %}{% include "book_info.htm" %}{% endfor %}
	</div>		
	
	<div class="panel panel-primary">
		<div class="panel-heading"><strong>Жанры</strong></div>
		<div class="panel-body">
			<ul>
			{% for d in genre %}
			<li><a href="{{d.get_absolute_url}}">{{d.name}}</a></li>
			{% endfor %}
			</ul>
		</div>
	</div>
	<div class="panel panel-info">
		<div class="panel-heading"><strong>Авторы</strong></div>
		<div class="panel-body">
			<ul>
			{% for d in authors %}
			<li><a href="{{d.get_absolute_url}}">{{d.name}}</a></li>
			{% endfor %}
			</ul>
		</div>
	</div>
	<div class="panel panel-success">
		<div class="panel-heading"><strong>Серии</strong></div>
		<div class="panel-body">
			<ul>
			{% for d in series %}
			<li><a href="{{d.get_absolute_url}}">{{d.name}}</a></li>
			{% endfor %}
			</ul>
		</div>
	</div>		
{% endblock %}
