{% extends "mobile/base.html" %}
{% load i18n %}
{% load static %}

{% block extra_head %}

{% endblock %}

{% block body %}

<div class="row word-div">
{% include "learn_word.htm" %}
</div>

<div style="margin-top: 50px" class="width100 tac">
	<a href="/">перейти на главную страницу</a>
</div>

	
{% endblock %}

{% block extra_foot %}
<script>

function updateWord()
{
	$.get("/learn/",function(data){		
		$(".word-div").html(data)
		$(".small1").remove()
		$("#article>br:first").remove()
		$("#article>br:first").remove()
		$("#article a").removeAttr("href")
	})
}

$(function(){
	$(".small1").remove()
	$("#article>br:first").remove()
	$("#article>br:first").remove()
	$("#article a").removeAttr("href")
	$(".variant").live('click',function(){
		var _t = $(this)
		$(".variant").attr("disabled","disabled")
		$.get($(this).attr("href"),function(data){
			if(parseInt(data)==0){
				$(".variant").removeAttr("disabled")
				_t.removeClass("btn-info").addClass("btn-danger")
				_t.text("неправильно")
				_t.fadeOut(2000)
			}else{				
				_t.removeClass("btn-info").addClass("btn-success")
				_t.text("правильно")
				
				$(".panel-success").show()
				setTimeout('updateWord()',2500)
				_t.fadeOut(3000)			
			}
			
		})
		return false;	
	})

})
</script>
{% endblock %}