body{
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;  
}

a{text-decoration:none;}
a:hover{text-decoration:underline;}

.fl{float:left}
.fr{float:right}
.cb{clear:both}
.red{color:red !important}
.red p{color:red !important}
.green{color:green}
.width100{width:100%}
.width80{width:80%}
.width50{width:50%}
.width30{width:30%}
.width20{width:20%}
.w85px{width: 85px}
.w70px{width: 70px}
.w50px{width: 50px}
.mt10{margin-top: 10px}
.mt2{margin-top: 2px}
.mt6{margin-top: 6px}
.pl10{padding-left:10px}
.pr10{padding-right:10px}
.tac{text-align:center}
.tar{text-align:right}
.tal{text-align:left}
.cw{color:#ffffff}
.search_input{width: 300px}
.bbd{border-bottom: dotted}
.caption{position:relative}
.dn{display:none}
.caption .badge{
	position:absolute;
	top:10px;
	right: 20px;
}
.cp{cursor:pointer}
.w200px{width:200px}

.odd{background-color:#f5f5f5}

.menu-buttons{width: 200px;margin: 100px auto;}
.btn-menu{width: 100%;margin: 10px}

#body{width: 900px; margin: 0 auto;position:relative}
	
ul li {list-style: none}
ul{padding-left:0px}
.expand,.collapse{cursor:pointer;}

.logo{display:block;margin-left: 10px;width:30px;height:50px;background:url(../img/logo.png);}
.logo2{display:block;margin-left: 10px;width:120px;height:50px;background:url(../img/logo.png);}

.display_next{cursor:pointer}
.numpad{margin-left: 13px}
.numbutton{
	width: 80px;
	height: 65px;
}

.zakaz_menu{
	font-size: 150%;
}

.btn-day{
    width: 50px;
    height: 50px;
    margin: 2px;
}
.month-block{
    margin: 10px;
    height: 380px;
}

.grey-text{
    color: #ddd;
}

.loading{
    width: 15px;
    height: 15px;
    background: url(../img/loading.gif);
    float: right;
}

.input_man_cnt{width: 200px}

x{cursor:pointer}
#book p{text-indent: 40px}
.small1{display:none}

.variant{
    width: 200px;
    height: 65px;
    margin: 10px;
	padding-top: 20px;
    text-align: center;
    font-size: 120%;
}

.lword{
    font-size: 200%;
    font-weight: bold;
    width: 450px;
}

