{% load i18n %}
{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>{% block title %}{% endblock %}</title>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8; ru" />
  <meta name="Description" content="{% block description %}{% endblock %}"/>
  <meta name="Keywords" content="{% block keywords %}{% endblock %}"/>  
  
  <link rel="shortcut icon" href="{% get_static_prefix %}img/favicon.png" />
  
  <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/bootstrap-theme.min.css" />  
  <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/base.css" />
  
  {% block extra_head %}{% endblock %}
</head>
<body>
  
	<div class="row" style="margin: 10px">
		<div class="col-md-2">
			<div class="panel panel-default">
				<div class="panel-heading">
					{% if request.user.is_anonymous %}
						Гость				
					{% else %}
						<a href="{% url 'books_user' request.user.username %}">{{request.user.username|default:"Гость"}}</a>
					{% endif %}				
				</div>
				<ul class="list-group">	
				{% if user.is_anonymous %}	
					<li class="list-group-item"><a href="{% url 'login' %}">Вход</a></li>
					<li class="list-group-item"><a href="{% url 'register' %}">Регистрация</a></li>
				{% else %}
					<li class="list-group-item"><a href="{% url 'upload' %}">Загрузить книгу fb2</a></li>
				
					{% if user.is_staff %}
					<li class="list-group-item"><a href="/admin/" target="_blank">Таблицы</a></li>			
					{% endif %}
					<li class="list-group-item"><a href="/news/" target="_blank">Новости</a></li>			
					<li class="list-group-item"><a href="{% url 'login' %}">Выход</a></li>
				{% endif %}
				</ul>			
			</div>
			<div class="panel panel-primary">
				<div class="panel-heading"><strong>Жанры</strong></div>
				<div class="panel-body">
					<ul>
					{% for d in genre %}
					<li><a href="{{d.get_absolute_url}}">{{d.name}}</a></li>
					{% endfor %}
					</ul>
				</div>
			</div>
			<div class="panel panel-info">
				<div class="panel-heading"><strong>Авторы</strong></div>
				<div class="panel-body">
					<ul>
					{% for d in authors %}
					<li><a href="{{d.get_absolute_url}}">{{d.name}}</a></li>
					{% endfor %}
					</ul>
				</div>
			</div>
			<div class="panel panel-success">
				<div class="panel-heading"><strong>Серии</strong></div>
				<div class="panel-body">
					<ul>
					{% for d in series %}
					<li><a href="{{d.get_absolute_url}}">{{d.name}}</a></li>
					{% endfor %}
					</ul>
				</div>
			</div>		
		</div>
		<div class="col-md-7">
			{% block body %} {% endblock %}	
		</div>
		{% if user.is_authenticated %}
		<div class="col-md-3">
			<div class="panel panel-primary">
				<div class="panel-heading">Закладки</div>
				<ul class="list-group">				
				{% for d in bookmarks %}
					<li class="list-group-item">
						<a href="{% url 'remove_bookmark' d.id %}" class="badge">x</a>
						<a href="{% url 'book' d.book.uid %}">{{d.book.en_title}}</a>
					</li>
				{% endfor %}
				</ul>
			</div>
			{% if ln %}
			<ul class="list-group">
				<li class="list-group-item">Ваш словарный запас: <b>{{words_count}}</b></li>
				<li class="list-group-item">Слов на повторении: <b>{{learn_count}}</b></li>		
				<li class="list-group-item"><a class="mt10 btn btn-info width100" href="{% url 'learn' %}">Повторить слова</a></li>
				<li class="list-group-item"><b>Выученные:</b></li>
				{% for d in learned %}
				<li class="list-group-item">{{d.word}}</li>			
				{% endfor %}
				
				<li class="list-group-item"><b>На повторении:</b></li>
				{% for d in ln %}
				<li class="list-group-item">{{d.word}}</li>			
				{% endfor %}
			</ul>
			{% endif %}
			
			
		</div>
		{% endif %}
	</div>	
		
  
  <script type="text/javascript" src="{% get_static_prefix %}js/jquery.js"></script>
  <script type="text/javascript" src="{% get_static_prefix %}js/bootstrap.min.js"></script>  
  <script type="text/javascript" src="{% get_static_prefix %}js/base.js"></script>
  {% block extra_foot %}{% endblock %}

<!-- Yandex.Metrika informer -->
<a href="https://metrika.yandex.ru/stat/?id=29284050&amp;from=informer"
target="_blank" rel="nofollow"><img src="//bs.yandex.ru/informer/29284050/3_1_FFFFFFFF_EFEFEFFF_0_pageviews"
style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" onclick="try{Ya.Metrika.informer({i:this,id:29284050,lang:'ru'});return false}catch(e){}"/></a>
<!-- /Yandex.Metrika informer -->

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter29284050 = new Ya.Metrika({id:29284050,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/29284050" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->  
</body>
</html>
