{% extends "base_columns.html" %}
{% block title %}}От {{u.username}}{% endblock %}
{% block body %}
	<ol class="breadcrumb">
	  <li><a href="/">Главная</a></li>
	  <li class="active">От пользователя {{u.username}}</li>
	</ol>	
	
	{% for d in bs %}{% include "book_info.htm" %}{% endfor %}
{% endblock %}
