{% extends "base_columns.html" %}
{% block title %}{{data.name}}{% endblock %}
{% block body %}
	<ol class="breadcrumb">
	  <li><a href="/">Главная</a></li>
	  <li class="active">{{data.name}}</li>
	</ol>	
	
	{% for d in bs %}{% include "book_info.htm" %}{% endfor %}
{% endblock %}
