<div class="well">
	<a href="{% url 'book' d.uid %}"><strong>{{d.en_title}}</strong></a><br/>
	{{d.ru_title}}
	<br/>
	от пользователя: <a href="{% url 'books_user' d.user.username %}">{{d.user.username}}</a>
	<br/>
	{% if d.genre %} <a href="{{d.genre.get_absolute_url}}">{{d.genre.name}}</a>{% endif %}
	{% if d.author %}/ <a href="{{d.author.get_absolute_url}}">{{d.author.name}}</a>{% endif %}
	{% if d.series %}/ <a href="{{d.series.get_absolute_url}}">{{d.series.name}}</a>{% endif %}
	
</div>
