<div class="col-md-12">
	<div style="width: 460px;margin:0 auto">
		<table>
			<tr>
				<td colspan="2"><div class="lword tac">{{xword.word}}</div></td>
			</tr>
			<tr>
				<td colspan="2"><h4>{{word.texts|default:""|linebreaks}}</h4></td>
			</tr>				
			<tr>
				<td><a class="variant btn btn-info" href="{% url 'check' xword.word words.0 %}">{{words.0}}</a></td>
				<td><a class="variant btn btn-info" href="{% url 'check' xword.word words.1 %}">{{words.1}}</a></td>
			</tr>
			<tr>
				<td><a class="variant btn btn-info" href="{% url 'check' xword.word words.2 %}">{{words.2}}</a></td>
				<td><a class="variant btn btn-info" href="{% url 'check' xword.word words.3 %}">{{words.3}}</a></td>
			</tr>
		</table>
		
		<div class="panel panel-success dn">
			<div class="panel-heading"><p><strong>{{word.word}} {% if word.one_word %}- {{word.one_word}} {% endif %}</strong></p></div>
			<div class="panel-body">{{word.trans|safe}}</div>
		</div>	
	</div>
</div>