{% extends "base_columns.html" %}
{% block title %}Новости{% endblock %}
{% block body %}
	<ol class="breadcrumb">
	  <li><a href="/">Главная</a></li>
	  <li class="active">Новости</li>
	</ol>	
	
	{% for d in news  %}
	<div class="well">
		<h3><a href="{% url 'read_topic' d.id %}">{{d.title}}</a></h3>
		<small>{{d.dt|date:"d.m.Y h:i"}}</small>
		<p>{{d.text}}</p>
	</div>
	{% endfor %}
	</table>
{% endblock %}
