{% extends "base.html" %}
{% block title %}{{topic.title}}{% endblock %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="/static/css/tip-yellow/tip-yellow.css" />
{% endblock %}

{% block body %}
  <div style="margin-top: 10px; padding: 20px 20px;   color: #393939;
  font-family: Verdana,sans-serif;
  font-size: 14pt;
  line-height: 1.7em;
  text-align: justify;
">
	
	<table class="width100">
		<tr>
			<td><a class="width100 btn btn-warning" href="/news/">На главную страницу</a></td>
		</tr>
	</table>	
	<div id="book">Загрузка содержимого...</div>
</div>

<div id="translation" class="dn"></div>
{% endblock %}

{% block extra_foot %}
<script type="text/javascript" src="/static/js/jquery.poshytip.min.js"></script>
<script>
var HAVE_TRANSLATION = false
$(function(){
	$.get("{{url}}",function(data){
		$("#book").html(data)
		$(".next_page").show()
		
		/*
		$.get("{{translation_url}}",function(data){
			$("#translation").html(data)
			HAVE_TRANSLATION = true
		})
		*/
	})

	$("x").live('click',function(){
		var _e = $(this)
		$("x").css("color","black")
		_e.css("color","red")
		$("x").poshytip("hide")
			
		if(HAVE_TRANSLATION){
			//alert(_e.text().toLowerCase())
			var data = $("trans[word=\'"+_e.text().toLowerCase()+"\']").html()
			/*alert(data)
			alert(data==null)*/
			if(data==null){
				$.get("/translate/",{t:$(this).text()},function(data){
					_e.poshytip({
						content: data,
						showOn: 'none',
						alignTo: 'target',
						alignX: 'inner-left'
					}).poshytip("show").poshytip('hideDelayed',10000)			
					$("x").css("color","black")
				})	
			
			}else{
				_e.poshytip({
					content: data,
					showOn: 'none',
					alignTo: 'target',
					alignX: 'inner-left'
				}).poshytip("show").poshytip('hideDelayed',10000)		
				$("x").css("color","black")
				$.get("/translate/",{t:$(this).text(),ht:1})
			}
		}else{
			$.get("/translate/",{t:$(this).text()},function(data){
				_e.poshytip({
					content: data,
					showOn: 'none',
					alignTo: 'target',
					alignX: 'inner-left'
				}).poshytip("show").poshytip('hideDelayed',10000)			
				$("x").css("color","black")
			})	
		}
	})

	$("body").click(function(){
		$("x").poshytip("hide")
	})
})
</script>
{% endblock %}
