{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block extra_head %}

{% endblock %}
{% block body %}
    <div class="container">
	<div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-6">
	  {% if msg %}<div class="alert alert-danger">{{msg}}</div>{% endif %}
      <form class="form-signin" method="post" action="{% url 'register' %}">
		{% csrf_token %}
        <h2 class="form-signin-heading">{% trans "Регистрация нового пользователя" %}</h2>
		
		<input type="hidden" name="ref" value="{{ref}}"/>
		<div class="form-group">
        <input type="text" id="username" name="username" class="form-control" placeholder="{% trans 'Имя пользователя' %}" autofocus>
		</div>
		<div class="form-group">
        <input type="text" id="email" name="email" class="form-control" placeholder="{% trans 'Адрес электронной почты (E-Mail)' %}">
		</div>		
		<div class="form-group">
        <input type="password" class="form-control" name="password1" placeholder="{% trans 'Пароль' %}">
		</div>
		<div class="form-group">
        <input type="password" class="form-control" name="password2" placeholder="{% trans 'Пароль' %}">
		</div>		
		<div class="form-group">
		<button class="btn btn-lg btn-primary btn-block" type="submit">{% trans "Зарегистрироваться" %}</button>
		</div>
      </form>
	</div>
	</div>
    </div> <!-- /container -->

{% endblock %}
