{% extends "base.html" %}

{% block body %}
<h3>Загрузить книгу</h3>


<form method="post" action="" enctype='multipart/form-data'>
	<div class="group-box">
		<label for="en_name">
		Автор:
		</label>
		<input type="text" class="form-control" name="author"/>
	</div>
	<div class="group-box">
		<label for="en_name">
		Английское наименование:
		</label>
		<input type="text" class="form-control" name="en_name"/>
	</div>
	<div class="group-box">
		<label for="en_name">
		Русское наименование:
		</label>
		<input type="text" class="form-control" name="ru_name"/>
	</div>
	<div class="group-box">
		<label for="en_name">
		Файл книги:
		</label>
		<input type="file" name="file"/>
	</div>	
	<div class="cb"></div>
	<br/>
	<input type="submit" class="btn btn-success" value="Загрузить"/>
</form>

{% endblock %}
